:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Lexend Exa', sans-serif;
}

#grid-container {
    background-color: var(--swatch-foundation);
    font-family: 'Consolas';
    font-weight: bold;
    font-size:15px
}

.grid-item {
   
    background-color: var(--swatch-primary);
}

#navbar {
    box-shadow: 2px 2px 2px var(--swatch-primary); 
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
    
}

#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
}

#title-div {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 20pt;
    
}

#left-sidebar-header {
    
    border-bottom: dotted;
}

#todo-list-table-header {
    border-bottom: dotted;
}

.list-header-card {
    border-bottom: dotted;
}

.list-item-card {
    border-bottom: solid;
}

.todo_button {
    
    cursor:pointer;
    background-color: var(--swatch-complement);
    text-align: center;
    
}

.todo_button:hover {
    background-color: lightslategrey;
}
.list-item-row{
    min-height:8%;
}
.list-item-row:hover{
    background:lightslategrey;
    
}

.list-item-desc{
    display:none;
    margin-top:25px;
    position:absolute;
    margin-left:20px;
    
}
.list-item-desc-input{
    background:transparent;
   
    color:rgb(255,200,25);
}
.due-date-col-input{
    margin-top:25px;
    position:absolute;
}
.list-item-date-input{
    background:transparent;
    margin-left:90%;
    color:rgb(255,200,25);
}
.deleteButton{
    margin-left:10px;
    margin-bottom:10px
}
.deleteButton:hover{

    background-color:white;
    cursor:pointer
}
.material-icons:hover{
    background-color:var(--swatch-complement);
    cursor:pointer
}
.todo_button_unselected{
    
    background-color: rgb(53,58,68);
}
.todo_button_selected{
    background-color: rgb(64,69,78);
    
}
.sidebar_list_item{
    text-overflow:ellipsis;
    
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size:16px
}
.todo-lists-list::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: var(--darkblue-gray);
}
.sidebar_buttons{
    margin-left:0
}
.task-desc{
    margin-top:25px;
    margin-left:10px;
}
.date-text{
    margin-top:25px;
    margin-left:10px;
}
.status-text{
    margin-top:25px;
    margin-left:10px;
}
.sidebar_buttons:hover{
    background:lightslategrey;
}